.form{
  width:300px;
  margin: 15px auto
}

.form input{
  width: 100%;
  padding:8px;
  margin:0.8em 0;
}

.toggle__btn{
  margin:1em 20em;
  
}

.btn{
  padding:8px;
}

.show__info{
  text-align: center;
  margin: 1em 0;
}

.err--msg{
  border: 1px solid red;
  background-color: pink;
  color: red;
}